DOMAIN=pomo.willix.fr
ACME_EMAIL=williamwaterpolo@gmail.com
APP_IMAGE=ghcr.io/williammcorreia/pomo:latest

NODE_ENV=production
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info

# openssl rand -base64 32
APP_KEY=

SESSION_DRIVER=cookie
TZ=UTC

DB_HOST=postgres
DB_PORT=5432
DB_USER=pomo_admin
DB_PASSWORD=
DB_DATABASE=pomodb