NODE_ENV=development
PORT=3333
HOST=0.0.0.0
WS_PORT=24678

LOG_LEVEL=info
APP_KEY=copyYourAppKeyHere
SESSION_DRIVER=cookie
TZ=UTC

# Database configuration for Adonis
DB_HOST=postgres
DB_PORT=5432
DB_USER=pomo_admin
DB_PASSWORD=pomo123
DB_DATABASE=pomodb

# Database configuration for Postgre
POSTGRES_USER=pomo_admin
POSTGRES_PASSWORD=pomo123
POSTGRES_DB=pomodb

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Adminer configuration
ADMINER_PORT=8080
ADMINER_DEFAULT_SERVER=postgres